<html>
<head>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>


  <script>
  var x = document.getElementById("demo");

  function getLocation() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
      } else {
          x.innerHTML = "Geolocation is not supported by this browser.";
      }
  }

  function showPosition(position) {
      form = document.getElementById("myForm")
      document.getElementById("lat").value = position.coords.latitude
      document.getElementById("lng").value = position.coords.longitude
      form.submit()
  }
  </script>


</head>
<body>
  <form id='myForm' action="merchantlogin" method="POST">
    {% csrf_token %}
    <input type = 'hidden' name = 'lat' id='lat' value='' />
    <input type = 'hidden' name = 'lng' id='lng' value='' />

    <div class="container">
    </br>
    </br>
    </br>
    </br>

      <div class="row">
        <div class='col s12 m6'>
           <p class="flow-text">
             Log in to your Unocoin account.
           </p>
        </div>
          <div class="col s12 m6">
              <div class="input-field col s12">
                    <input name="email" placeholder="Email" type="text" required>
              </div>
              <div class="input-field col s12">
                  <input  name="password" placeholder="Password" type="password" required>
              </div>
              <div class="input-field col s12">
                  <input  name="zomatoid" placeholder="zomato-ID" type="text" required>
              </div>
              <div class="input-field col s12">
                 <input  type="button" onClick='getLocation()' value="login">
              </div>
         </div>
       </div>
    </div>
  </form>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js'></script>
  <script>
    $(document).ready(function() {
      $('select').material_select();
    });
  </script>
</body>
</html>
